
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.cubo{
    width: 350px;
    height: 350px;
    background-color: #3498db;
}